{% extends "base.html" %} {% block content %}
<h2>{{ page_title }}</h2>
<p>
  The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in recapturing
  his long lost family inheritance. Remembering that he had once known an adventurous Hobbit on his travels in The Shire,
  Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf
  also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action. The superstitious
  Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other business, welcomed
  a fourteenth to fill in to their party.
</p>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Thorin Oakenshield</h3>
    <p>In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely Mountain. Early
      in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770. While
      in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in the Battle of
      Azanulbizar in TA 2799. He marched with one of the Dwarven armies beneath the East-gate of Moria. At some point in
      the fighting, his shield broke, and using an oaken tree branch found on the floor as a shield, he gained the epithet
      "Oakenshield," which would remain with him even in death.</p>
    <p>Thorin eventually became King-in-Exile of Durin's Folk after his father went missing, and presumably died in the dungeons
      of Dol Guldur.</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/7/76/ThorinTDOMTextlessPoster.jpg/revision/latest?cb=20140731214832">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/parody/images/2/2e/Kili-fili-poster.jpg/revision/latest?cb=20150220190026">
  </div>
  <div class="col-md-7">
    <h3>Fíli and Kíli</h3>
    <p>Fíli and Kíli were brothers, the youngest of the thirteen dwarves who set out on Thorin Oakenshield's quest along with
      Gandalf and Bilbo Baggins to reclaim the Lonely Mountain for the Dwarves.
    </p>
    <p>
      Fíli and Kíli were the two most active dwarves of Thorin's company, and apart from Balin, and possibly Bombur, they appeared
      more frequently as "individual" characters in Tolkien's novel than the rest of Thorin's companions, who were most often
      named only in "group" references to the entire company.</p>
    <p>Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews of Frerin,
      grandsons of Thráin II, and great-grandsons of Thror. Fíli's most distinguishing feature was his long nose, the longest
      of any of the Dwarves on the Quest of Erebor.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Óin</h3>
    <p>Óin (T.A. 2774 – 2994), elder son of Gróin, was one of the twelve companions of Thorin and Bilbo on the Quest of Erebor. He and his younger brother Glóin were both born during the wanderings of their people, which followed the sack of Erebor. In 2802 they and their family settled in the Ered Luin (Blue Mountains). Nearly forty years later the two brothers joined the Quest of Erebor; they were counted on to start the campfires, though the brothers bickered over the task. Óin wears a brown hood. </p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/2/20/Oin_2.jpg/revision/latest?cb=20120909101940">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/thehobbit/images/c/c7/321798_354277054653557_1973501476_o.jpg/revision/latest?cb=20170129191229&path-prefix=fr">
  </div>
  <div class="col-md-7">
    <h3>Gloin</h3>
    <p>Of all the members in The Company of Dwarves who set out on the Quest to The Lonely Mountain, Glóin is the most outspoken and opinionated and is not afraid to challenge authority. He has a tendency to be quick-tempered, but he is also strong, brave, and loyal. Glóin is one of the only married Dwarves in the Company (there being a shortage of female Dwarves in general). His wife is an acclaimed beauty with a particularly fine beard. Glóin is also the proud father of a young son, Gimli.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Balin</h3>
    <p>Balin was a Dwarf, son of Fundin, and likely born in the Lonely Mountain before the coming of Smaug the Dragon. He had a younger brother named Dwalin and was amongst those driven from their homes when Smaug attacked the Lonely Mountain. Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs. Many years later, in approximately TA 2841, he accompanied Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was captured and lost.</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/5/52/Balin.jpg/revision/latest?cb=20120911171656">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg/revision/latest?cb=20120911200601">
  </div>
  <div class="col-md-7">
    <h3>Dwalin</h3>
    <p>Renowned as a great Warrior, Dwalin speaks his mind plainly and is not one to suffer fools lightly. Fiercely loyal, he was Thorin Oakenshield's staunchest supporter with an unshakeable belief in his friend's leadership. A powerful and bruising fighter, Dwalin has a natural tendency to distrust anyone who is not a Dwarf and is particularly suspicious of Elves. Proud, brave and one of the tallest of the Dwarves, Dwalin will bow to none but those who have earned his respect.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Ori</h3>
    <p>Younger brother to Nori and Dori, Ori is a talented artist, and can often be found drawing and writing in his journal. It is Ori who chronicles much of the journey through The Wild to the shores of the Long Lake and the slopes of The Lonely Mountain. Polite and well-bred, he is used to be being bossed around by his older brother Dori and is usually biddable, although occasionally he can surprise his fellow companions with his courage and determination.</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg/revision/latest?cb=20130205205637">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg/revision/latest?cb=20121030113353">
  </div>
  <div class="col-md-7">
    <h3>Dori</h3>
    <p>A distant relative of Thorin Oakenshield, Dori is the eldest amongst his brothers Ori and Nori. He is the strongest in The Company of Dwarves, and spends much of his time watching out for Ori, making sure he hasn’t caught a chill or gotten himself killed by Wargs or Goblins. Eternally pessimistic, with a natural tendency to expect the worst, Dori is nonetheless quite prepared to risk life and limb in order to get the job done.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Nori</h3>
    <p>Nori was a Dwarf of Durin's folk who lived in the northern Blue Mountains in Thorin's Halls and later the restored Lonely Mountain. He had two brothers named Dori and Ori, and was a remote kinsman of Thorin Oakenshield. His hood was purple, he played the flute, and he was very fond of regular and plentiful meals.</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/edain-mod/images/7/7b/Nori.png/revision/latest?cb=20160412111720">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/7/73/Bifur_2.jpg/revision/latest?cb=20120911201025">
  </div>
  <div class="col-md-7">
    <h3>Bifur</h3>
    <p>Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not of Durin's Folk. Most of his familial relations are unclear, and what is known of his parentage is very little. He and his family were driven out of their home in the Lonely Mountain by the Dragon Smaug, and were forced to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new life in the Blue Mountains, he continued his life as a toy maker.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Bofur</h3>
    <p>Endearing and likable, Bofur has a disastrous tendency to state the obvious and blurt out things without thinking. With a love of music and a fine singing voice, Bofur delights in good food and good company and is unfailingly optimistic. Though not especially brave, he will do his best to help those in need, especially those he counts as friends. Along with his brother Bombur and his cousin Bifur, Bofur joined the Quest for the Lonely Mountain partly to seek his fortune – and partly because he was told the beer was free.</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg/revision/latest?cb=20121030120400">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5">
    <img src="http://www.hdmagazine.it/wp-content/uploads/the-hobbit-bombur.jpg">
  </div>
  <div class="col-md-7">
    <h3>Bombur</h3>
    <p>Bombur's parentage is unknown; the only familial connections mentioned are his brother Bofur and his cousin Bifur. Bombur was not of Durin's line although he was descended from Dwarves of Moria. His birth year is also unknown, however, from Bilbo Baggins' account from the quest to Erebor it is known that the brothers Fíli and Kíli were the youngest of the 13 "by some fifty years" and that after Thorin had been captured, Balin was "the eldest left". Since Fíli was born in TA 2859 and Balin was born in TA 2763, this would put Bombur's birth between 2763 and 2809, and he would have been between 132 and 178 years old during the quest to Erebor. Prior to the quest Bombur probably lived in the Blue Mountains with Thorin after the loss of Thráin II.</p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Gandalf</h3>
    <p>When Olórin arrived in Middle-earth, men referred to him as “Gandalf.” The name derives from a dialect from the Northern region of Middle-earth, often called Old Mannish.
</p><p>
      The name “Gandalf” loosely translates as “Elf of the Wand”, which is referring to the staff he carried with him. His name can also be literally translated with the meaning of “Wand-elf.”
    </p><p>
      During his early years on Middle-earth, many people were puzzled by Gandalf, and often confused him for being an elf. However, Gandalf was actually was Olórin, one of the wisest of the Maiar.
    </p><p>
      Olórin, as Gandalf was known in Valinor, translates from Quenya as "dream" or "of dreams." The Dwarves called him Tharkûn, which means "staff man" and the people of Gondor and the Elves would call him Mithrandir, meaning "Grey Pilgrim."</p>
  </div>
  <div class="col-md-5">
    <img src="https://vignette.wikia.nocookie.net/thehobbitfilm/images/2/27/GandalfTheHobbitFilmseries.jpg/revision/latest?cb=20161228222115">
  </div>
</div>

{% endblock %}