{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<br>
<h3>Currently hiring:</h3>
<br>
<h4>Burglar / Expert Treasure-Hunter</h4>
<p>For the expedition to reclaim our homeland beneath the Lonely Mountain in what's now known as the Desolation of Smaug, we seek an audacious fellow conspirator.</p>
<p><strong>Applicants must be:</strong></p>
<ul>
  <li>Brave</li>
  <li>Able to quietly enter the lair of a dragon</li>
</ul>
<p><strong>We offer</strong></p>
<ul>
  <li>Cash on delivery, up to and not exceeding one fourteent of total profits (if any)</li>
  <li>All traveling expenses guaranteed in any event</li>
  <li>Funeral expenses to be defrayed by us or our representatives, if occassion arrises and the matter is not otherwise arranged for</li>
</ul>
<p><strong>Have you got what it takes to be our fourteenth companion?</strong></p>
{% endblock %}